<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link href="assets/logo.svg" rel="apple-touch-icon">
    <link href="assets/logo.svg" rel="icon">
    <link href="assets/logo.svg" rel="shortcut icon" type="image/svg+xml">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
</body>
</html>