$font-color: #FFF;

* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #444;
  height: 100%;
}

div.game.generating {
  min-height: 614px;
}

div.game.generating table {
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

div.game.generating:after, div.game.finished:after {
  font-size: min(50vmin, 300px);
  position: absolute;
  text-align: center;
  vertical-align: middle;
  top: 50px;
  left: 0;
  width: 100vw;
  opacity: 1.0;
  animation: fade 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

div.game.generating:after {
  content: "⏳";
  animation: fade 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

div.game.finished:after {
  content: "🎊";
  animation: show 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

div.number-controls {
  span.number-input {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 58px;
    width: 62px;
    font-size: 3rem;
    color: $font-color;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    border: 1px solid #FFF;
    border-radius: .25rem;
    user-select: none;

    &:hover {
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }

    &.highlight {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  20% {
    opacity: 100%;
  }

  80% {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}

div.status {
  color: $font-color;
}

ul.controls, div.status, div.number-controls {
  width: 614px;
  list-style: none;
  margin: 20px auto;
}

ul.controls li {
  display: inline;
}

button, select {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  margin-bottom: .75rem;
  margin-right: .75rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:hover {
  background-color: #dcdcdc;
  cursor: pointer;
}

table.sudoku {
  z-index: 3;
  margin: 0 auto;
  border: 8px solid black;
  border-collapse: collapse;
  box-shadow: #6b6b6b 6px 6px 6px;

  tr:first-child td, tr td:first-child {
    background-color: #000000;
    color: #FFFFFF;
    font-size: .8rem;
    height: 14px;
    width: 14px;
    border: 0;
  }

  td:nth-child(3n+1) {
    border-right: 5px solid black;
  }

  tr:nth-child(3n+1) td {
    border-bottom: 5px solid black;
  }

  td {
    width: 64px;
    height: 64px;
    border: 2px solid black;
    background-color: white;
    font-size: 3rem;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    color: #6c6c6c;


    &:hover {
      background-color: #faebd7;
      cursor: pointer;
    }

    &.fixed {
      color: #000;
    }

    &.fixed:hover {
      background-color: white;
      cursor: default;
    }

    &.invalid {
      background-color: #ffa1a1;
    }

    &.highlight {
      text-decoration: underline;
      background-color: #DDD;
    }

    &.suggested {
      background-color: #7fd979;
    }

    &.focus {
      background-color: #f8dab2;
    }

    div.note-grid {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      line-height: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;

      div.note-number {
        font-size: 1rem;
        line-height: 1.4rem;

        &.highlight-red {
          background-color: #e05858;
          color: #FFF;
        }

        &.highlight-green {
          background-color: #58e058;
          color: #FFF;
        }

        &.highlight-blue {
          background-color: #5858e0;
          color: #FFF;
        }
      }
    }
  }
}

div.note-mode {
  table {
    td {
      background-color: rgb(255, 235, 205);

      &.focus {
        background-color: #b2e0f8;
      }
    }
  }
}

@media only screen and (max-width: 620px) and (orientation: portrait) {

  div.game.generating {
    min-height: 100vmin;
  }

  ul.controls, div.status, div.number-controls {
    width: 100%;
  }

  table.sudoku {
    width: 100vmin;

    td {
      width: calc(calc(100vmin - 38px) / 9);
      height: calc(calc(100vmin - 38px) / 9);
      font-size: calc(80vmin / 9);

      div.note-grid {
        div.note-number {
          font-size: calc(80vmin / 27);
          line-height: calc(80vmin / 27);
        }
      }
    }
  }

  div.number-controls {
    span.number-input {
      width: calc(calc(95vmin - 38px) / 9);
    }
  }
}

@media only screen and (max-height: 750px) and (orientation: landscape) {
  ul.controls {
    position: fixed;
    top: 0;
    left: 3px;
    width: calc(calc(100vw - 100vmin) / 2);

    button {
      max-width: calc(calc(100vmax - 100vmin) / 2);
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  div.status {
  }

  div.content {
    padding: 0;
  }

  table.sudoku {
    width: 90vmin;
    height: 90vmin;

    td {
      width: calc(90vmin / 9);
      height: calc(90vmin / 9);
      font-size: calc(75vmin / 9);

      div.note-grid {
        div.note-number {
          font-size: calc(80vmin / 27);
          line-height: calc(80vmin / 27);
        }
      }
    }
  }

  div.number-controls {
    position: fixed;
    top: 0;
    padding: 4px;
    left: calc(100vmax - calc(calc(100vmax - 90vmin) / 2));
    width: calc(calc(calc(100vmax - 8px) - 90vmin) / 2);

    span.number-input {
      width: calc(calc(calc(100vmax - 90vmin) / 6) - 14px);
      height: calc(calc(calc(100vmax - 90vmin) / 6) - 14px);
      font-size: calc(calc(calc(85vmax - 85vmin) / 6) - 14px);
      line-height: calc(calc(calc(100vmax - 90vmin) / 6) - 14px);
    }
  }
}
